# Objects
*.o
*.obj

# Libraries
*.a
*.lib
*.so
*.dll
*.dylib

# Executables
*.exe
*.out
main

# Build dirs
build/
Build/
build-*/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Temp/editor
*.swp
*.tmp
*.log
.cache/
.vscode/
.idea/

# Misc
windows.zip
